@import '../../theme/variables';


.vertical-content{
  .image-content {
    display: flex;
    flex-direction: column;
    height: 70%;

    background-color: $red-light;
  }
  .action-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
  
    background-color: #FFFFFF;
  }
}